<section class="py-6 bg-secondary text-primary">
  <div
    class="container mx-auto flex flex-col items-center justify-center p-4 space-y-8 md:p-10 lg:space-y-0 lg:flex-row lg:justify-between"
  >
    <h1 class="text-3xl font-semibold leading-tight text-center lg:text-left">
      Have a question? Send us a message.
    </h1>
    <button
      class="px-8 py-3 text-lg font-semibold rounded bg-primary text-secondary"
    >
      Contact
    </button>
  </div>
</section>
