---
const currentYear = new Date().getFullYear();
---

<footer class="bg-primary px-4 py-4">
  <!-- Create a responsive Footer that is centered -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="flex items-center justify-center">
          <li>
            <a class="text-md text-secondary hover:font-bold mr-4" href="#"
              >Home</a
            >
          </li>
          <li>
            <a class="text-md text-secondary hover:font-bold mr-4" href="#"
              >About Us</a
            >
          </li>
          <li>
            <a class="text-md text-secondary hover:font-bold mr-4" href="#"
              >Menu</a
            >
          </li>
          <li>
            <a class="text-md text-secondary hover:font-bold mr-4" href="#"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <p class="text-sm text-center text-secondary">
          © {currentYear}. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
